<template>
<NavBar />
    <div class="max-w-screen-lg w-full px-6 lg:mx-auto mt-12">
    <div class="flex flex-col w-full justify-center items-center">
        <h1 class="text-gray-500 text-2xl mb-6">Add a new cheese</h1>
        <!-- <span v-if="form.wasSuccessful" class="text-green-500">Data saved</span> -->
      <form class="flex flex-col w-full  max-w-md gap-6" @submit.prevent="submit">
          <div class="flex flex-col">
              <label for="title">Name</label>
            <input class="rounded active:border-inherit" name="title" v-model="form.title" type="text" />
          </div>
          <div class="flex flex-col">
              <label for="country">Country</label>
            <input class="rounded active:border-inherit" name="country" v-model="form.country" type="text" />
          </div>
          <div class="flex flex-col">
              <label for="description">Description</label>
            <textarea class="rounded" v-model="form.description" name="description"></textarea>
          </div>
          <div class="flex flex-col">
              <label for="price">Price</label>
            <input class="rounded active:border-inherit" name="price" v-model="form.price" type="text" />
          </div>
          <div class="flex flex-col">
              <label for="image">Image</label>
            <input type="file" class="rounded active:border-inherit" name="image" @change="uploadImage"  />
          </div>
          <button class="rounded w-full bg-gray-800 text-white font-bold uppercase px-2 py-1" type="submit">Submit</button>
      </form>
    </div>
  </div>
</template>
<script setup>
import NavBar from '../Components/NavBar.vue';
import { Head, useForm } from "@inertiajs/inertia-vue3";
import { inject, ref } from "vue";

const route = inject("route")

const form = useForm({
    title: "",
    country: "",
    description: "",
    image: "",
    price: "",
})

function submit(){
    console.log(form)
    form.post(route("add.cheese"))
}

function uploadImage(e){
    form.image = e.target.files[0]
}

</script>
