<template>
    <NavBar />
    <div class="max-w-screen-lg w-full px-6 lg:mx-auto mt-12">
      <div class="flex flex-col w-full justify-center items-center">
        <h1 class="text-gray-500 text-2xl mb-6">Cheeses</h1>
          <div class="flex flex-wrap justify-around">
            <div
                :key="cheese.id"
                :cheese="cheese"
                v-for="cheese in data"
            >
              <div>{{cheese.title}}</div>
               <img style="width:256px;height:auto;" :src='cheese.image'>
            </div>
      </div>
    </div>
    <button></button>
  </div>
</template>
<script setup>
import { Head, useForm } from "@inertiajs/inertia-vue3";
import { inject, ref } from "vue";

const route = inject("route");

const props = defineProps({
    data: String,
})

</script>
