<template>
  <Head title="Dashboard" />

  <div class="py-12">
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
      <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
        <div class="p-6 bg-white border-b border-gray-200">
        {{marker}}
        <form @submit.prevent="submit(form)">
            <input type="text" v-model="form.name" />
            <input type="text" v-model="form.description" />
            <input type="text" v-model="form.latitude" />
            <input type="text" v-model="form.longitude" />
            <input type="submit" class="btn" value="Update" />
        </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup>

import { Head, useForm } from "@inertiajs/inertia-vue3";
import { inject, ref } from "vue";
import { defineProps, reactive, defineEmits } from "vue";

const route = inject("route");

const props = defineProps({
    marker: String
})

const form = useForm({
    id:props.marker.id,
    name: props.marker.name,
    description: props.marker.description,
    latitude: props.marker.latitude,
    longitude: props.marker.longitude,
})

const submit = (form) => {
    form.post(`/map/marker/${form.id}`)
}

</script>
