<template>
  <NavBar /> 
  {{ useRouter }}
  
  <div class=" w-full h-96 flex  flex-wrap justify-center">
    <div class="lg:w-12/12 h-full w-full" id="map" ref="map"></div>
    <div>
    <form class="grid gap-4 mx-6" @submit.prevent="submit">
      Name <br />
      <input type="text" name="name" v-model="form.name" />
      <br />longitude<br />
      <input type="text" name="longitude" v-model="form.lng" />
      <br />latitude<br />
      <input type="text" name="latitude" v-model="form.lat" />
      <br />description<br />
      <input type="text" name="description" v-model="form.description" />
      <input type="submit" class="btn bg-green-300 rounded-full" value="Add marker" />
    </form>
    <table class="w-96">
      <tr class="font-bold">
        <td>name</td>
        <td>description</td>
        <td>latitude</td>
        <td>longitude</td>
      </tr>
      <tr class="" v-for="item in data" :key="item.id">
        <td class="mx-20">{{ item.name }}</td>
        <td class="mx-20">{{ item.description }}</td>
        <td class="mx-20">{{ item.latitude }}</td>
        <td class="mx-20">{{ item.latitude }}</td>
        <button @click="update(item.id)" class="btn">Edit</button>
        <button @click="remove(item.id)" class="btn">Delete</button>
      </tr>
    </table>
    </div>
  </div>
</template>



<script setup>

    const form = useForm({
      name: "",
      lng: "",
      lat: "",
      description: "",
    });

import NavBar from '../Components/NavBar.vue';
import { Loader } from "@googlemaps/js-api-loader";
import { useForm } from "@inertiajs/inertia-vue3";
import { ref, inject } from "vue";

const route = inject('route');

const props = defineProps({
  markers: {
    type: Array,
    default: null,
  },
  data : JSON
});

let map = ref(null);
let prevMarker;


const loader = new Loader({
  apiKey: "",
  version: "weekly",
});



loader.load().then(() => {
  let myLatLng = { lat: 58.24806, lng: 22.50389 };
  map = new google.maps.Map(map.value, {
    zoom: 8,
    center: myLatLng,
  });
  for (const key in props.data) {
    let markers = new google.maps.Marker({
      position: {
        lat: props.data[key].latitude,
        lng: props.data[key].longitude,
      },
      label: props.data[key].name,
      map,
    });
  }
  new google.maps.Marker({
    position: myLatLng,
    map,
    title: "test",
  });

  map.addListener("click", (mapsMouseEvent) => {
    if (prevMarker) {
      prevMarker.setMap(null);
    }
    let data = mapsMouseEvent.latLng.toJSON();
    prevMarker = new google.maps.Marker({
      position: data,
    });
    form.lng = data.lng;
    form.lat = data.lat;
    addMarker(data, map);

    prevMarker.setMap(map);
  });
});
function addMarker(location, map) {
  new google.maps.Marker({
    position: location,
    label: form.name ? form.name : "",
    map: map,
  });
}
const submit = () => {
  form.post('/map')
}
const update = (id) =>  {
  const dataForm = useForm({id: id})
  dataForm.get(`/map/marker/${id}`)
}
const remove = (id) =>  {
  const dataForm = useForm({id: id})
  dataForm.delete(`/map/marker/${id}`)
}

</script>

