<script setup>
const props = defineProps({
  data : JSON,
});
import Product from '../Components/Product.vue';
import NavBar from '../Components/NavBar.vue';

</script>
<template>
    <NavBar />
    <div class="flex flex-wrap justify-around">
        <Product
            :key="product.id"
            :product="product"
            v-for="product in data"
        />
    </div>
</template>

