<template>
  <NavBar />
    <div class="flex flex-col items-center m-36">
        
        <div class="text-5xl">{{Math.round(data.main.temp)}}°C</div>
        <img style="width:128px;height:auto;" :src='"http://openweathermap.org/img/wn/" + data.weather[0].icon + "@2x.png"'>
        <div>{{data.weather[0].description}}</div>
        <div class="text-2xl">{{data.name}}</div>
        <div>Last updated: {{lastUpdated}}</div>
    </div>
</template>

<script setup>
const props = defineProps({
  data : JSON,
  lastUpdated : String
});
import NavBar from '../Components/NavBar.vue';
import { Loader } from "@googlemaps/js-api-loader";
import { useForm } from "@inertiajs/inertia-vue3";
import { ref, inject } from "vue";

const route = inject('route');

</script>