<script setup>
import { Head, useForm } from "@inertiajs/inertia-vue3";
import { inject, ref } from "vue";
const route = inject('route')
const props = defineProps(["id", "title", "description", "added", "comments", "data"])

function deleteBlog(){
    console.log(props.id)
    const form = useForm({id: props.id})
    form.delete(route("delete.blog", props.id))
}
</script>
<template>
    <div v-if="id && title && description">
        <div class="mt-6">
            <div class="max-w-4xl px-10 py-6 mx-auto bg-white rounded-lg shadow-md">
                <div class="flex items-center bg-grey-100 justify-between">
                    <span class="font-light text-gray-600">{{added.split("T")[0]}}</span>
                    <div v-if="$page.props.auth.user && $page.props.auth.user.admin" class="flex">
                        <a :href="route('edit.blog', id)" class="cursor-pointer px-2 py-1 mr-1 font-bold text-gray-100 bg-blue-500 rounded hover:bg-blue-400">Edit</a>
                        <a @click="deleteBlog"  class="cursor-pointer px-2 py-1 font-bold text-gray-100 bg-red-500 rounded hover:bg-red-400">Delete</a>
                    </div>

                    <!-- <button class="px-2 py-1 font-bold text-gray-100 bg-gray-600 rounded hover:bg-gray-500">delete</button> -->
                </div>
                <div class="mt-2">
                    <a href="#" class="text-2xl font-bold text-gray-700 hover:underline">{{ title }}</a>
                    <p class="mt-2 text-gray-600">{{ description }}</p>
                </div>
                <div class="flex items-center justify-between mt-4"><a href="#"
                        class="text-blue-500 hover:underline">Read
                        more</a>
                    <div><a href="#" class="flex items-center"><img
                                src="https://epood.ta19heinsoo.itmajakas.ee/images/HRpweoGbmya3KzgH3huGSupurLJTFkADpXnzzPY5.jpg"
                                alt="avatar" class="hidden object-cover w-10 h-10 mx-4 rounded-full sm:block">
                            <h1 class="font-bold text-gray-700 hover:underline">Admin</h1>
                        </a></div>
                        
                </div>
                <div class="flex flex-col items-center">
                    <Comment class="w-full" v-for="item in comments" :comment="item.comment" :data="item" :key="item.id"/>
                    <CommentInput :post="data"/>
                </div>                
            </div>
            
        </div>
        

    </div>
</template>
