<template>
   <div class="max-w-2xl px-10 py-2 mx-auto bg-white mt-4 rounded-lg shadow-md">

        <div class="flex items-center justify-between ">
            <!-- <a href="#" class="text-blue-500 hover:underline">Read more</a> -->
                    <div><a href="#" class="flex items-center"><img
                                src="https://epood.ta19heinsoo.itmajakas.ee/images/CIVBpHvzt4D3DmIq52fWAWBwTWjLHCbp5MJ2rNS1.jpg"
                                alt="avatar" class="hidden object-cover w-10 h-10 mx-4 rounded-full sm:block">
                            <h1 class="font-bold text-gray-700 hover:underline">User</h1>
                        </a></div>
                        <span>{{comment}}</span>
                        <div v-if="$page.props.auth.user && $page.props.auth.user.admin">
                            <a @click="deleteComment(data)"  class="cursor-pointer px-2 py-1 font-bold text-gray-100 bg-red-500 rounded hover:bg-red-400">Delete</a>
                        </div>
                </div>
        </div>
</template>
<script setup>
import { useForm } from "@inertiajs/inertia-vue3"
import { inject } from "@vue/runtime-core"

const route = inject("route")

defineProps(['comment', "data"])

function deleteComment(data){
    const form = useForm({id: data.id})
    form.delete("comment/" + data.id)
}
</script>
