<template>
    <div class="flex align-center text-justify">
        <input type="text" v-model="form.comment" class="rounded-full bg-slate-100 w-400" />
        <input @click="form.post('comment/' + post.id)" type="submit" value="Submit"  class="mt-5"/>
    </div>

</template>
<script setup>
import { Head, useForm } from "@inertiajs/inertia-vue3"
import { inject } from "@vue/runtime-core"

const route = inject("route")

defineProps(["post"])

const form = useForm({
    comment: ""
})

</script>
