<script setup>
const props = defineProps({});
</script>

<template>
    <form action="mapForm" method="post">
        Name <br>
        <input type="text" name="name">
        <br>longitude<br>
        <input type="text" name="longitude">
        <br>latitude<br>
        <input type="text" name="latitude">
        <br>description<br>
        <input type="text" name="description">
        <button type="submit">Add marker</button>
    </form>
</template>
