<template>
    <nav class="border-b-2 border-black px-2 sm:px-4 py-2.5 dark:bg-white mb-4">
        <div class="container flex flex-wrap justify-between items-center mx-auto">
            <a href="https://flowbite.com" class="flex items-center">
                <span class="self-center text-4xl font-semibold whitespace-nowrap dark:text-black">{{$page.url.slice(1)}}</span>
            </a>
            <button data-collapse-toggle="mobile-menu" type="button"
                class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                aria-controls="mobile-menu" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                        clip-rule="evenodd"></path>
                </svg>
                <svg class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                        clip-rule="evenodd"></path>
                </svg>
            </button>
            <div class="hidden w-full md:block md:w-auto" id="mobile-menu">
                <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
                    <li>
                        <a href="/"
                            class="block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent  md:p-0 dark:text-white"
                            aria-current="page">Home</a>
                    </li>
                    <li>
                        <a href="/store"
                            class="block py-2 pr-4 pl-3 text-gray-700 border-b md:border-0 md:hover:text-blue-700 md:p-0 md:dark:hover:text-grey-700 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Store</a>
                    </li>
                    <li>
                        <a href="/blog"
                            class="block py-2 pr-4 pl-3 text-gray-700 border-b md:border-0 md:hover:text-blue-700 md:p-0 md:dark:hover:text-grey-700 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Blog</a>
                    </li>
                    <li>
                        <a href="/weather"
                            class="block py-2 pr-4 pl-3 text-gray-700 border-b  md:border-0 md:hover:text-blue-700 md:p-0  md:dark:hover:text-grey-700 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Weather</a>
                    </li>
                    <li>
                        <a href="/map"
                            class="block py-2 pr-4 pl-3 text-gray-700 border-b md:border-0 md:hover:text-blue-700 md:p-0 md:dark:hover:text-grey-700 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Map</a>
                    </li>
                    <li>
                        <a href="/api/cheese"
                            class="block py-2 pr-4 pl-3 text-gray-700 border-b  md:border-0 md:hover:text-blue-700 md:p-0  md:dark:hover:text-grey-700 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Cheese API</a>
                    </li>
                                        <li>
                    <a href="/api/cheese/add"
                            class="block py-2 pr-4 pl-3 text-gray-700 border-b  md:border-0 md:hover:text-blue-700 md:p-0  md:dark:hover:text-grey-700 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Add Cheese</a>
                    </li>
                    <a v-show="$page.url == '/store'" class="mt-1 text-black opacity-60 hover:opacity-80 focus:opacity-80 mr-4" href="/cart">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="shopping-cart"
                            class="w-4" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                            <path fill="currentColor"
                                d="M528.12 301.319l47.273-208C578.806 78.301 567.391 64 551.99 64H159.208l-9.166-44.81C147.758 8.021 137.93 0 126.529 0H24C10.745 0 0 10.745 0 24v16c0 13.255 10.745 24 24 24h69.883l70.248 343.435C147.325 417.1 136 435.222 136 456c0 30.928 25.072 56 56 56s56-25.072 56-56c0-15.674-6.447-29.835-16.824-40h209.647C430.447 426.165 424 440.326 424 456c0 30.928 25.072 56 56 56s56-25.072 56-56c0-22.172-12.888-41.332-31.579-50.405l5.517-24.276c3.413-15.018-8.002-29.319-23.403-29.319H218.117l-6.545-32h293.145c11.206 0 20.92-7.754 23.403-18.681z">
                            </path>
                        </svg>
                        <span
                            class="text-white bg-red-700 absolute rounded-full text-xs -mt-6 ml-2 py-0 px-1.5">{{ qty }}</span>
                    </a>
                </ul>
            </div>
        </div>
    </nav>
</template>
<script>

</script>
<script setup>
import { Head } from "@inertiajs/inertia-vue3";

</script>
