<script setup>
import { inject, ref } from "vue";
import { useForm } from "@inertiajs/inertia-vue3";


let qty = ref(1)
const route = inject('route');
  const props = defineProps({
  product: JSON
})
const addToCart = (data, qty) =>  {
  const dataForm = useForm({
    id: data.id,
    image: data.image,
    title: data.title,
    description: data.description,
    price: data.price,
    qty: qty
  })
    dataForm.post(route("add.cart"), {
        onSuccess: () => qty = 1
    })
}
</script>


<template>
    <div class="rounded overflow-hidden border flex items-center m-10 ">
        <div class="font-bold text-4xl ml-5 mb-2 flex justify-center">{{ product.title }}</div>
        <div class=" p-10 flex justify-center">
            <img style="width:256px;height:auto;" :src='"https://epood.ta19heinsoo.itmajakas.ee/" + product.image'>
        </div>
        <div class="px-6 py-4">
            <p class="text-gray-700 text-base">
                {{ product.description }}
            </p>
        </div>
        <div class="px-6 pt-4 pb-2">
        </div>
        <div class="px-6 pt-4 pb-2 mt-auto">
            <span
                class="inline-block  px-3 py-1 text-xl font-bold mr-2 mb-2">
                {{ product.price }}</span>
            <input class="w-14 text-right" type="number" :value="qty" @input="qty = $event.target.value" />
            <button @click="addToCart(product, qty)" class="bg-green-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Add to cart</button>
        </div>
    </div>
</template>
